<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="-1197" />
    <add key="mainForm.Location.Y" value="64" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="575" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAOs5JewcZ3zXg4HhwP8Kjca1DGBw4H9y+xohRijb6m+yOEzcZe+2UBi7MmiFKYj1QkbHEQAFDJ7aSAAAAA==" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAJu4WNg5zviuBwPDgf+NGo1rGcDgwP+TrWuEGKFsU4YUcZj4jinbQmFsr4oVphA2ixMAUWyTHUgAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAFt0mdU5zviuBwPDgf9MTxvWMoDBgf8su9YIMULZLy4mi8PEdcS2hMLYIWu2m4JY/u2MTgBi8sJaSAAAAA==" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAGsWOeEUZ3zXg4HhwP/jW+0ZGUDggYt94CmvNWA2UFz241SIuIOMPStTERNEfJrt1gepEPYCO/vb/+Wg4h62V9MKIeyE+faHrIMhbIPl9r95ciDsCdPtL0+OgqoXs3+7KhvCLjhmP/1gCYR9Ya79BF83CNuh2X7BszSoeIv9Zo0cuPmX5OZ+gbmT/0AfxJ0GDg57394UhYnPK58A9dc3+ydqcRC9CpL206+mQ92vam+wIgbqnl92c7YnQ83PsufYALV3wT77hVpQd9555vDsfghcr4JhEdzvqvqJUPNn2rPpRMHdfyy0Eq5m5yp3mN9tzQSSoOqf2He8g+qd89PhwaQUqJpEu/Qf8RB2ir6jXN9vXZi/OueXQPzFUGX74D7UHCA7dEYS3K452clw8YNhUPEDt+xKQmHsg3ZHZaHsBDb7zaxQdkOu/StnqN6GRXb1E6HsB0L2SkcToP5ito/VgarfUOcg8wQq/uG1vYJ1Ctzew+4I96xTgoof6Ldb3BoPS0t2ascT4WoeNsLcEGKXI4ewt/NHItzMU18QZgZ9T4Cnyf/NCP9G9iHUv5fPhaefpxfTYXFtq2UaCnUPv/21JKh7HEztD12Hmr+gwL67GOaXafYNs2B2PbQDAD4k1fE8AwAA" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAGsWOeEUZ3zXg4HhwH/5G1aMDCCwRtnx53L/NWA2UPz9kSSIeMUWB7arvUwQcQ+b34aJEHZDiN3FfDMI28HP3i23EMKeIedQYR4MYWf0Orz5lw1hC+Q7xK6Ogqp/bt9YAxWPO+n46XQJhJ0QaK9h4wZhL1B1aBNMh7AP3HKYrZQDYT/Qdjyze+EXmDvfaHdB3Lmi3PFB4z1RmLi3dTtEfEK1g9e6JIhelmUOHxSSoewbDgfjoX750O4wZRNUPOKUA8u+NAh7wkkHJneoOydscDi6PwTCDpjo8M88BRom621dZPKhftxrz2MD9eMNbodYrViof00dmF5DzVcwsu+WgLonYb79gfNQN7wwcngxAWqmQZGD3p94CNvC3UFRgUEP5q/ZDAUQfzFMs+V7DzWHocp2UwGCLTUNahdQjVQYTHy9vUAcnO2QLJgED+dfQlD2FRHHuV4wd562NyyGsh+U2e/5kABh/5nn8PgH1M0hbxy+8kHZFg8cXimlwO3V80mCsy104WFll58D9ZfDOXu101C9R3Y4PPGDq7c7EAG1d0arg8qHRHg4L/+L8KPJDah7GE7YHmlPhqvZuhCq3uCTg4dVLjS+Sh34VkLT0oIPDmtjQyHsJmdHZb94mB8d/j2Gmq9h6SBRA3XzDVuHoglQu3jWOgAA7uv9WzwDAAA=" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAGsWOeEUZ3zXg4HhwH/ul2aMDECw3l3XgXd68BoGMDjwX6gwCiy+5YSOw52YZCYQWzDio/0GtkQw2+DuG/vygFQw+/riH/bGGwvB7O8aVg4JP4PA7NMLTR10tuSA2YdOGTvM1Y4Cs8VvyjnM5cwGsxkZpBwtWSPB7JYDQg7LdJPAbP8kEwdZzXQw+6iCnsOzo1lg9ovfig4r2Jd/gbnz1s1GsDvzhMwdVn14JgoT/6rWDBbn1z3lwCkPcf+mucoOXyUh7BTr9/YnPCF+Of+d3UFiVTLUfFkH/1SIv6ZIKDgEzIC4P9Xa2XGHZwiYzc7o4+hoBlEz4RCzg0BXHpi9r+S3fVwPxI9mcb/s7R7FgNl/Vz60t7JOAbM3Fn2wZ3OH+NHB9Ja9rwTEDQqt/+2zp0PUNGSpOCy5kgBmM2lzOyj6MOvB/NXJn8MICZ/9DhwPIeZ80/hhz3AEwvY1/2jfkgbxy96Sx/ZPbSHiouuYHQ4YJEHjjsfBTBrCLs6QdLhnAXMPm8NnPYhe+VZGh4maEPFrFbIO+n4QtkXnX/vLDRC2TruMA18RxJ23znE6zDOFuN+I44r9FQ+Ims+Xrtq7h0LEvXge2XscjAezK19+sp9SBfG7tP5He71yiPrFrs/sX6lA3JD7nNdhC1TNu5rn9nolEPGA3uf2iRsToHpf2n9+ChFn1n5szwCN0+Pe9+2/q+SC2afK/tmLzYakpcSnf+wrEiDx2Pb6q73ETIh72Bt5HaK3Qcz5dEndwUkJEr/bP+s63HgQD02Hcg4A73pN0DwDAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAIu7csQpzviuBwPDgf+WTFaMDGDQ4Bo+L2ANhH3gP1dOLFy8JH2tDIytw7jsC0xN3IMmuJoDQk9FYeL3WVrh4itXaarB2EXSjHowNZn2eXA1h0NfecLYAMP74FucAAAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAD2ST0hTcQDH38YUGYIiJCOFdqgoqrWQQkVT63vQg7b+QDTaejrDSl2be5vRabztbW8HPQRGEekTqksd+gPRpRxMjaCsg5QU1rIcHjpVpxXYeN/feqcvH77v+/t+f+/5l+eP+JtWuyUpu9libbVIpSeuyDg97XkgmU920z7iM7lkRDDmDVhNz+0wYhX91PdDOOA5b2rp2GVUPwlTx6L4WjxB3RDF8ccj1FUK5vd4qd8quO4eZk5uHC0VZ8ivRTFTOUAdVvBp15CpjX0R1C5eIu+NYq/l3u9yT39eZc+1GLJ161vK/ItNI3+voL7ITMOuwNbBLdmPUcz2cEtnUxTBJLlUPY47AbHLEcPLAvtv9MfxrOcUc1aTaK2hx3BpuKAHqbs0vJ7gRqdfg7x2lnxIw8aPwH89MMU+zkENfQ52MHamsHJjkHxJw7ZlmfdzJY2xBourvOtiR9Dc9a6Yxsor5sjracx0LdrKuvKw4O4UXPvFWTUp3G0U9/A8iVyz8EyqeOhiN/mvip+7yfMfVLT3CX+9irm44EsqJsLs5iyocB9i5/yvkqdbeNoSkE6Sy29UDOfOMUdPYOEq99Zak/gcE35PAm072KHzewovZukJTWWwtZc8P5qB7xHPlX0ZHCwI7s/gm5f+fFbHXN0o321MY/st/j/O6TSaZX67UCnfe5N94g4d7U/FdmcGR/+wsxHRYa8SGyd1/ANDmESZMAMAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAD2SQUhTcRzH32RKiOEQilFBHQqKZC3KUN/7v9X/9cUNUp4VWCPndEWWtpoHD55WVBQ0WFAxEVqL6uRhJcS65EBbFkIeDIKolpJ18DDKgxhp63233unDh+/7ve+XLTA7KQP7PnkVJbvWVNFsU4pPfq4FHffNUcV6smvV/Z2WV5wGBvyhin/4IGFgsLLb4m3vDew1z1h8sP4wasYiFkcfSnxdOUr/QqL9Wb/FyqrE5G4//bTEPXcf79RKNFWe5LsjEsmqHouz8xIfd561OLHfgCN3nn5Uot72ZKncM5C/YvWMtkhk675tKPsv9mv0byU2rvDmiT8Sdg+3mDclUj5ucY9JhK/SK0LiUYi7lCGJ1wvsX/POg4zvOPO3BZprmUn3CvTeCNN3CUzHuLFgCgTnTtEfEfixGPrPPXfZp9Aq0OZkh/Sihg+J0/ROga2zQe41NAxstrnKu855wtauREUx/4Z3zPUakody9jJX6fQz3zW49pAvLWt4vIXsTglMNJYyGR1pF7vNXNbxcxe9444O0UZOL+kYj5LjCR2xCLsVbulwH2Bnx/VixlvKdOtQjtGbwzr6Jrp4R9Xxaoh7l1cFPg+W8h06tB3skI9peJlixtugYlMrvcOnovMpv2u2q2hYoI+bKub9zMeTKsbrLlg8FdGwfYT/n4JbQ2OQv91U8b5/mH2yv1SI56XtF1UYv9nZnVNRva60MaPiL8IrZfAwAwAA" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAD2SbUhTYRiGz2ITGZJyoBgp9cfACNaiEh05u7cfTcGxvoxOuZYrs1yLLZggBEJZEQgjaNinLDYJs28IsbVzZMsKz3JrH5jRN50i+hFRUDMyex/W++vi5jnPe93nnGp7wuxY89LKcdLckRNGFTd/1DtvYvtl+wjHjjSndbexnNsWg09wLfiHZfEo/Jo9jH9rolht38d49McYyu56GRsSIt4WNjPWHRWx6Y6b8YahGBIrBZqHiKChi3E0MI56zQ7GFTMiBkvaGVt/xvCiZj/jyOwDVEwcZFwTFlH5PPK96Hm49BjzDLyRIPEfFhXz1+o+lhs2ilhcoJ0tV2NQN1IXhZcQaqIu2oAIz3HKnapxhF3USzJLeKSQf2HgMUabtjJuPj8FYznNzOhS6DzlYXy6NgW5nzryrhSc73Yx/uxN4dMX139uP0s+PncKNh05CBfTmB7YS8/yaSzLOuk9jGTgq1Tpi70ONHpYL6U7i+kntKejNYtBTKiLXGKiPHgtDf0q4ivdaUSqiJs7pxCvI/b/mcQtPbm1Dsv4toJym1dGg41YsExC7CU2uWT0e8ntzEkZhlpyXnhJhmilmaXlSXBbKFecMrriuxn39CXxsIf6Gi1P8cpP8w59EuuXk0M48QyxEM30/spjSQvlN+7n0Xab7lVCeaxTKDeF83gv0Lzjeg4if4ixpyqD6gv0//AfM6hz0rf7Or9fOEc+1qEsGu7RnqA5D8ssOQ+vzUFbSnfxjhz+AhRDDNUwAwAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAFMJOOIUZ3zXg4HhwH+feCtGBiioOxqwBsI68P+PSyxcvKlvrQyMLX1z6ReYmuKHTXA1eyyfisLEQ++0wMV7ficxQVgNdl/skplg4nnCtlIwtp9EIlzNqcIUuBqPywlwcTMZRj2Y+V1peXDzD4e+8oSxAa3KDL/YAAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAFMJOOIUZ3zXg4HhwH+feCtGBiioOxqwBsI68P+PSyxcvKlvrQyMLX1z6ReYmuKHTXA1eyyfisLEQ++0wMX9VmuqwdhmMox6MDVdaXlwNYdDX3nC2AD0XfhCnAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAFMJOOIUZ3zXg4HhwH+feCtGBjAQcKw7GrAGwj7w/49LLFR8gYP6dU12GHtJdyEThM3g6KkUDGXbOGqm5EDZGo5vKqOgbAPHOZzZUHaHg7FOJJR9w2E+WxKU/cPhGmM6lM3jKPo2C86Wvrn0C8w9xQ+boO5RcNxj+VQUJh56pwUqfsCh5zfMTAHHL3bJTDDxLZ6JcHtLmpLh9lZqpELZLI5X/8Dcf8JBuiAEym6w/28GU7PA4V7VG24Y208CZuYKh1OFKXC2x+UEKHuHg5kMox7MnV1pebBwdhBcnAQ3U8HpGAuM7ZMCE7/goKePYC+VgbFFHA9bwNgPHE6ww/yyweFWAEz8hYOROkLNqeWIcJ7ulQBXw2OGcPMZD4R7wsSOwN1jVJUI90thAEJNXHEy3BwTuJoTDsf8k+FqrK8lwN12dTpCnGnPObj5KrPT4W5QsgyBx1fAzHgo+4ND7F2YXgVH7rUwNzs4OoXBzJdxBADiUo2n0AIAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAFMJOOIUZ3zXg4HhwH+feCtGBjDgcKw7GrAGwj7w/49LLFTcwSElKpkJwmawn6STCGU32BkGpMLFl3QXQtk/HDyVgqHsCY6aKTlQdoHjm8ooKLvFcQ5nNpS9wcFYJxLKvuEwny0JyhZwvMaYDmV7OIq+zYKybRylby79AnNn8cMmqDtzHPdYPhWFiYfeaYGK73Do+Q0z08Xxix3MLwIOWzxhfpnhUNIEE2dxrNSA+UvD8eofmPt1HKULQuD+/W8GU+Ngn5qYB2UfsD+/JQrOlt4dAw8r57fwMGTw2ZME1+snAXODg8OpwhQo28DB43ICLAwdzGQY9WD+6krLg/qrwV5wcRLcTAWnYyxw81OS4Hr19GHsAIelMknw8DxsAWMfcDjBngy391YATJzH0Ugdxr7gcGo5jC3iON0L5jYGRx4zmJsX2J/xSIL7N8MmBe62dzfj4eFmVIXwbyHcrgX2ccUwN+xwMIGrEXA45o8IN+trMHsb7K9OR4gbTUmEm39BPRcetiqz0+FsJUtY3Ck4BMyEueeBQ+xdmDkZjtxrYW5ucXQKg9mV4AgAS1wZPDADAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAFMJOOIUZ3zXg4HhwH+feCtGBiioOxqwBsI68P+cbCxcfFbfWhkY25Bh2ReYmpBdTXA1txOeisLEQ++0wMVVWjTVYOwEZ0Y9mJpM+zy4miuhrzxhbADK+xaCnAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAFMJOOIUZ3zXg4HhwH+feCtGBiBgbDjlXHc0YA0DGBz4f042Fi7ulLxVAMbu4cxmArM3cLqW6UQywcTDvhqzw9iGDMu+wMwJ2dUEN+d2wlNRmHjonRaIOMNil+lXkuDmLDPu5YSxdyrnQsQfOLpKF4TA2a/5U+HqNW4ICcPYCc6MejDzM+3z4OYbnUKYv6i73R3GBgD3e9tMCAEAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAFMJOOIUZ3zXg4HhwH+feCtGBiBgbNjtXDwvYA0DGBz4f9MlFiKusMl5UlQyE0R8mvMGjiA+GLuHMxsszvihwKVMJxKi5sAK5xS2JLj6T+8ussDYhgzLvsDMD9nVxAgTv53wVBQmHnqnBWLvAQ2X6VcQ5iwz7uWEsXcq50Ls5ZjrIl0QAmEnzHd5zZ8KUZ8w37myIw+ud73/EgEYO8GZUQ9mV6Z9HsQuARUXo1MIuxZ1t7vD2AASjme0LAEAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAFMJOOIUZ3zXg4HhwP/Eb5aMDGCQ4hTHHrgGwj7w/+yXGKh4jNPjjiMsMDZfUCoThB3hVLETJh7hdFs/Byoe5RRXE8UEU68cmg1lJzrZsUZC2QlOXQJJcDUf5dLhZiYfz4KyQ52++Sz7AnOPd1YT3D1PNjwVhYlf72+Bisc6laxAmLlmI8LNn1uT4eYrd6VA2eFOYQdymWB6k+pCoOwkJwvGVLj45dw8uJnzz0fB/ag8PQZu5sl96uwwdn59Clx91dwEOHvqTkY9mJtvvM+FujnDqe50EtzevIkwdpzT406YmyOdlqUkwe3aYJcED591XAhxYUsEW1AfpjfaaXtaItwN6t8QYXL1eQLc/MmOKXC9s7++5IaxGUsQbnD9kAj3u/M9RDjLya8TgLEvVabA43c101EWGBsAp5uIMXACAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEADWSbUhTYRiGzw4UWFJEMQmGU7PGGMUkdCEV3VaQhTCyzUq3MiUXZeEqM1gYBBIh2aionnPOzpEKkmqY9KWOmH1hIBEVKsXozxKVFmG4P0G23se9vy4erud+73N4e772VvjXJ3ZIUnxu99GkScqcmpcGPGPR+5I48Tk5YpL/01S/jrzZesHWEgMuN/NQwEBr4qDgTT4DTYWHBVsqDSwtPiS4tMoA9ZwQnF9nQH5XI/jaNgMXvS2Cpwd15Lj3CB74oaNlmH2H2UDFSp4PNxmI1wbT2W5nOwJ5WZ4I24Sz824EoSm+9025jtt+5pNHdOiTzPJlHUEn928OZe5ycofUcR0zv72CaUsEXtMZwclGDR/bqwXnVmoYe1QnuHi/hpiHc5ad1rChv1HwkmMaBqL8TywBDaXn2Slv0FBv5w5vYyosHxoEd5CKXYO8u2qzitRo7drsd22Xl7PvUiAVcc70YwWXvjE/+aWgu5Nziv4q8Gs8f5qr4lmaeXKNCt+8/8Kq4tRq9svyVXQt5j7JRSpW2LlDtU/BnSD3j25VsK+PnQKbgldtvDuiEDaGeL73BuHBH843hwmKleezDwmOn5zTdYuw4Bznm7sJX1w8n8n4UiFnvm8jfLrJu50BQk6KM70XCPJrdq4QIXaVndF7BHucnfQQoczWKjgxTmgvOCB44QRhPOzm9/A541/nnHXPCc0j8++zl/C9hNnTl8l3MDurCP8Au9IegiQDAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEADXSX0hTYRgG8LMTBquLggqThJpZ4zSSRabBztaes7PzHehmUluUtmZFjUBkqzaFldVIyqKaYZmREdaFNMUisFJisOwfFlEwJdQQLNaFXfRnN0G2vtedqx8vz/ec9xy++KMBxb95UheE1FxT+4xByD9ixAbvWP99gT+pObHbIP7XVKsdxb/rucOdMqo95ApJRmQywF3llHHYdIg7GpSxpHw/txaQ0dXbyH1ckSG+3sV9PiTjnC/EPXHGDqNnJ7fNZEfoFeX3vJOhlNDcZJGRqg3nCrs1twaLC/6aMPPMqoFtiH2j964/60CPn/zG7MDtLLlvyo6wlfbPGBwIWWmHTKkDP376uGPNTvgMUe6sVcGHlh3c14MKxh7UcQc1BcNe6rm0VMHWJwe5O8oUPO2nfxLdoGDLKcrYKhXUS7RD+WkXSt8f4O4ZcWH7EJ09clLFbKZ2Y+G73OIyPl97QYNQRj0TV9xo+0zWSty4c5F6Gv6q8N+iuTqtYjBHnk6q2DufrxxScWwd5V3PVFxeTPtkZ1Qsl2iHRU4Nd8O0v/eoht0PKdOY1JBuorMr0wxyjObCKEPyD/XHxxlurqb5i24Gy3fqaX/JUHSC+uOPGT5V0/xthkEwUecKo46PnXT2hqTDOEudRb8YxOeUSYwwDF+lzIJeBilFmXSEococ4c7pDC1r9nHfq2AYT3joPtTk8x3U421jaBidv59dDF82kRdey/dbyDUBHf8ATraR9CQDAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEADWQXUhTYRzGz0ZC68OIc047O3tPpRWyLFpUrosu4pGgCGIsnZQ5m0UJEbUxbIZhsIiZQq2IwuWk1Iu+ZmkfaLtYVLDAYBRkDJYFGXmxIsckMFnr/bv36sfD8/7O857Ak0dwbUnvFoR43n/1m04onKcOEbXj0fsCP/G8PqLT/6eaaQnGnJtzrkqCzU58YUJES/ow58hvEcfLjnHeuVzCsrVNnJOLJHTfPcW5KStC/7aOs1uREHR6OG/6JcFgr+HsuyPBk6C+wy0BJsqXfBURr/fOFLe1Xmw2Fvl7qIJ3Vg6sQNsUfXf9qIw+F/HYaRm9P4jrbDK8Vtr/xyHDY6UN1mYZ01kn58ZqI5y6M5yf3VLwvn0/Z39CwfjjQ5zDDxXEasmzJ6Bg+8hR2h9SMBqlfzJwQ8G289Rx9CpwW2hDtt8EljzCOZEyYe8Lups/oSLzsX5j8V279CLPXQsZhHLyRKvNuDRBPDyp4nYXebqTKlw9lA+OqHg+Qxy4oqJhvv8mrMK3jvobIiouL6Y9nTEVkoU2HHxnRr+X9t/LmXFgiDod5Qyv/HQ3OMewo43y4AIND2bJ31CqIbyK8rkvDJU/yVOq01Byjvy2HEPKRnnJUg1CGTk7tmr4cJPuGvdpMGTIObtGg/41dc7mGWLXqGOYYrDEqdP5kqGqooVzVw9D++pGzp+DDJ9Cds5/+wr96+TJJBlOjpHHl2aY3EzMUgV/5fyGVg3/APX6xG4kAwAA" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEADWSa0jTYRjFN8uS2KIZQRfIYEYfKpL6okU7XbBMiKJsqchyF1tZrhZ2Wd4WAyHboAsYlUNRYrosRrVq1WjNtjQnObdVODdxEsbsNplZmVi9j3s//Tic//Oc8/7f5LvGbZINoRwOxzGtvVHM5fw7g70DkHoz2jnsOKb7+FVMN531IrpKnvSfLVl3EKuSMi44YsL8fSWMR5Rm6FVqxu4xLz7n7mesdQ/DlnKc8YXJIWhbChnL9kYhPHCMcWpbDKLkAsY6nwd1C2SMpy52IbZcyZj/9T3kr0sZz514B0OKIZ7ImV57i+UMXA5iPKNnUUIXZxqZfuboB5S30sz+3CB6l1EXnteGPA11aWt4hIpm0leYHRDWKRibZgcgdpQxbhmbs0VWncf4dnccmVzq/tHdDV+ZinFDvgONb6njwV0eCK8XMdYnPUbIP7O3zYoeL+X5U9OBtMWUYTLtN07U0N6GHVGcNxYz/qT4iaLVw2sTvQTVetbLf+klqrtpjtFlhVFFzO+8j3MG2lXisyCiIz3X1AeLiLhjjx/35hGHa79hYRZxc+kABOvoW6skABUo268rUSwVkP5Q6oGYR37F6VEERijn+p0hXNtK+Uc1z7F5I3lkX55AmU36G6cd6vZDdCdyG65W0Pyp1heI7yb/kqFn4JbTrpNOH7K/kyeudWF7mDyiwafonKC9h9fYkXpzxp9vR2E9+XO4ThSupH8XttuxyUxvKShxIWKg9/mg/hUqT1GedHUYXU2Uc1b/OHi1xE26CBoraRdH8wN/ASL2EZg8AwAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAGNdO9cpzviuBwPDgf8NMxMYGYCgyqTAJvGiwRoGMDjw/xJvLVjcJb3G5pV6MhOIHfRlvvXH2kQw26JjqTVfUCqYvfXVKuuevEIw26fAwOaNVzCY/UJjr/VOjhww+/X6NdYNi6PA7NX2v6yVQ7PB7A4/U1s71kgw+8pKKZsugSQwu1N3l/VHuXQw++/pH9bJx7PA7BMfmG16OXq/wNyp0jYb7E62/WttvhqcFYWJh1nMBYvfmn/NpmQFxMyyvEjbC9IQv1g4B9mEVEL8ohH7zLp6EURcTkjNRrkrBcw+dUPHJuxALpgtNeW8bVJdCJjdpjbfzoIR4vdXa1baXM7NA7OT3h2wmX8e4sddXKG2ytNjwOyM5co2d69AzE8oibY5exHinuqd3LbyEhA32NZNtcuvh9j7baaBXdXcBDC7YU6ZXYz2Y12YvwTresD++jmD17buNMQct/cMNnPzoOzmv9YVvRC7eCReWD9qhohHrAi32WAHYU/omGezjgvC1mb0sBG2hLAPvJawEdSH6J0y8691nj3EbZ5LzW2kBCHiv45NtwnjgagXqKq2ufoc4s7FCwxtJjtC3L/ajtPG1gqi5jbvc+t0V4j48f/PrAvXxIPZRrIvrSdVQ8x3PPPT+osvRP22zg/WjCUQuzx/frBx/QBRs2j/P2vnexA1J4JfW5/4DrHX6n2JjdAsiPqW2Yw2UdMg6tW51WyiVCFx19j7y9p6FSQtcW5dbPOoF5I+l2bvs6kpgrhH8YeXzckFEHfuWWFvw9MGYe/a2GQzvwZi11Y+WxsAOGK4GzwDAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEADWSXUjTYRjFNzGztYazLSrFLjYZ0qrRItLUnX8xlT5ubEmuoc5P8GN+MOhD3QLbSNm/C7UsZRkmGbmimyiTYgSjZU3bXJGVRQuxTMKBIJFg9T76Xv04nPd5zuF9fznch4q003kCgXelx1siFPw7A7OLMAc1HgE73pXQplama4YWMKcqi/nPiowiRFvNjC/d00GSX8GYj9kPl6WR8dTkOOaPnGDcYP2DkfhaxjkpX3HhlpFxQmYEipM1NKdSz2WvK2RcfzuG60goZfwz0Y9oShXj+ZmPKHtRzThT9Qx8PL+4llPp7GM5B5t+I7ohIF/TjcVupqd9SeOsd2jmskvOvUmiLt3mChjOUZdBvRzNA6RLZPlQdJQzlrX7UOCtY1xbWcqV2gyMY4Nx3AEhdVcPX8dknYXx49Fc9E9QR2vhRSh6TIwt1mRMh2n+TF9UFwhSHge/Dzu2UganaRtXb6e9dZfHcN5dwjjdHoRp57dda72kNhfrFfrQCdsrmlPzVAy3hVjzJA5nedolS/fpIm2k3zjjwINs4lFfO+6LiJUiPzanr845+g7SPXQ3POyHRUfZlLUbue1S0qOSNhSIyT82EsHbWcr5fOgRujjKr+0UISuDPKm9p1GlJ/2TU4VGTzHjpblkdDbT/PDD3Vg8Tv5rOVIIrbRrvIGHfoE8MpMdhz+v5gyp4F+iveqpLUjsJf+P7r0wXiX/a0MWjKn0dpb3STh4l/7S+u95iPD0P8tPqdHSRHmu5Hbh5U3KeSw2ALGT2DPRh/4W2lWtXcZfi9EPVDwDAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEADWSXUgTUBzFtyww2cyVQ1ubayydWrPAcGuVdlyCFAXZGm7p5uZikm01W2VNVxIbZO5lRsZkzI+IYVIRwdiTy6AykbKMnkzQB/uQ0WD0QYHV/bP79ONw7v9/DvcmfeFaU+V8PYeTWB1ItHA5/477QAcss7vGOewkVt/yu5l+0e7EF0Xrmv/8MFGGVLeFMT8uQ27DKcaPxVL0OV2Mh6uasXLoOGP9XTfi2WcYx+R2XBs1MjbVt0F+op3xq6c3UL3OwPhTrBO9eVbGC2MGpIrsjCeVNrS+OM341pIOgexAOpNzm3+Q5ZTwziO1fkaY0Y3mMNPnfvrgjtLM2lE/3myhLpe+7oDuMnXJShfAM0L6iLoU8l4b47WHG6FPOCiPJwSrV8dYq6qHmkvdRb5avHM4GRcNlyDymjoufFZBPtDEeEgmwvwczdfcz8PMLOVJ2mWQFlKGZuVNnL1Ke2NWM66EWxjfmbChafuSMtNL4O1jvfIcxfBO05z830KEncTt4nx0BmiXZDIHi9dJF02p8Kia+Bdfgwc5xH+MJ7FpD/ETiQWCnXT3edIAZw1l6zH3QCQgPeiqgp5H/umGNrxfppzZH46hH5R/eUKI/RryKDTlsNeR/qxCAte4mXH0qAhBD82PQ4r0EfLnhgrAddOuRv0+1H0jT7RsN7QfycNbEePlD9pbrtiMjSHyfy/dCuNt8p+7J4exmN6uwiPC3jH6S+gvwWKA/mesUIquDsoTjNdgaohybsgygecnrlQfRKSLdkW0F/AXj22raTwDAAA=" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAHvXOtcpzviuBwPDgf/TDyQwMgDBR8O7LokXDdYwgMGB/5d4a8HiN75dc3mlnswEYsdt3OLysTYRzL4QLOvKF5QKZiscfePSk1cIZhv+FnZ94xUMZrc813HdyZEDZj/243dtWBwFZkeX/XdRDs0Gs4O/hbnasUaC2XskxF27BJLA7Np0FtePculg9vK7Aq7Jx7PA7EtAe5se9nyBuVN/7WywO/kDH7h85DwrChOPip8LFl8CNL9kBcRMzYZTLhekIX5RYljkElIJ8cs54U6X6kUQ8WmP5rkod6WA2TIHeF3DDuSC2TxHpV2T6kKg5ni5WjBC/H4h4o/L5dw8MDt/jZrr/PMQPz7pU3ZVnh4DZhcBxe9egZjv/K3V5exFiHsORax2kZeAuMGrTM81vx5i7yNgWFXNTQCzHb+xusZoP9aF+Uuwrgfsr0D/By51p5Pgbp6bB2ErAP1V0Quxy3b3BZdHzRDxnBwh1w12SXC71nFB2BtiLV2FLSHsvvRQV0F9iN42YNzl2UPcxgX0u5QgRPwdn49rGA9EfckbK9erzyHuzAWaP9kR4v4Iwx4XWyuIms9+D1zSXSHiZ4HhXLgmHsyel3TcZVI1xHwX60qXL74Q9YpA9zOWQOzaI/vNxfUDRA1HK7ur8z2IGjeg+hPfIfZ+65zqIjQLEXdR0yDqP3eKukapQuJuL9Ac61WQtGRureH6qBeSPt8C/VJTBHGPh/VPl5MLIO6UBsY7TxuEXfxml8v8GohdPeqOrgCnQxqOPAMAAA==" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEALseN9cpzviuBwPDgf9+8+IYGYBgqiGP60Ep4zUMYHDg/4f9VWDxbQyfXZaqJjOB2BGGPS7uLYlgtsFvYVejgFQwuz6dxVWiuBDMvhAs69rpGwxm87MauE5lzgGzf3SKuk5aGAVmcx+Vdn0Qlg1mf/ZLcOX7HwFmRxcquF4UTgKzvwPVsying9kFa9RcI25lgtmyB3hdbcQnfIG5Uzd0Jtidu79fc/mceF4UJj5HcDZYfNJHD1fzKRAzMw3vuswRhfjljHCni9pUiF/OAdnWUyDiJW92uUxJSYG788+1XDDbu0zPVWVeCJhdoePvet8WosbUWsNV1CofzO5Ud3SN1IH48Umfsus/vVgwe8VdAdfWUxDz7wpHuXxzhLhH7miOy8EtiXC7lFMhZk5exOU6WT8BzJYG+jfp71NdmL+8TbrA/nqpftCF+QDEnOBv11yml0PYUWX/XfjaIXZJA82/VgIRn5d03GWuLoTN0fXMpU4awo4Bqq9wg7ADtjm5zraC6F0jq+p69C/EDauA7FcuEPEUYHh2QPWC4uLgvQQ4e68XxP1m1itcOrQgakRcj7icc4OIu1lXushPjweza3Ieu0hOhPj9g1+Cy3L3JGg6meoS1gaxKwTor/xXEDVb5p51OXsWokaBYZHLXR6I+Deg+twciHrNhlMuTYcg4kbAeJkkB4m7vBwh1697IWlJzcHMVY0Pkj6vX3Z1FS2Oh6cBZVFIev7kyeh6ugDiZq+ydS5ykyB+7AHGLwDDTrJvPAMAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEALseN9cpzviuBwPDgf+XTGMYGYCA8YWOq22z6RoGMDjw/09SBVhcXITTVdswmQnEtrBe4bKsOBHM3iH7zUUtMRXMXpJ03MU2sBDMNrXWcH1eEAxmcx+Vdl3GlQNm/+gUdd23MArMXi2r6ioRmA1mf/ZLcJ34MwLMnvZIzvWWbBKYfXWyoauRcjqYnfLRw/X3/UwwOzdHyJUpetIXmDu/f58GdmdUwAMXzf0XRWHiEzbMAItP+xbm+nIKxMy9QDf/EoX4ZfuNJpfG2RC/fPFLcImZBBHPMLzr8iUjBcxWcTBzdTiRC2ZbVdu4vtoZAmYHA808rAhRkwx0W719Ppg9N8ndNaE9FMx+2qfs2nURYv48YPi8fwwxf/NcX5cEF4h77glHuVzcDFEzFej3DH+ImbGFCq5nlRLA7Iiy/y4mGS90Yf46f7Ud7K92kVsu985BzJm0/KVLVC2UvYjLlaUEYteBiNUuhm0Q8f+c+1xuqUHYPmXrXNaqQNjXJ2902WQEYasD/TvHF6I3wpDH9eL3BHg8FntDxCcA7bLWgKgve7PLxfwWxP3O31hd59pC1JgB08lxPYia+UC/NyhD/PUJGM5cS+LBbEWGRS6H50L03gaGg7gfIkyySiDqGbj2uWx+CXGDF9DNLx9D1LhbV7os+gMR5zo62+VPAcRezYZTLownIWZOVzJ2jdHJA7PXANPbqs1pYPaxGfauUgKQ9CnPoOSaVhgPTwPHf0PsFXE94lLUBWF/BIorTobYJcxq4AoAoRekATwDAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEALseN9cpzviuBwPDgf+/TkcyMgDBTlcXV9G35msYwODA/yiOMrD4peUSrqsdk5lA7B71gy5/sxPBbKvdF1yeOaaC2TvnnnX5VVQIZhe/sXL1zggGs7mPSrsuFs8Bs/dKiLsuXBAFZnuV6bk+DcoGsz/7Jbge+BkBZptaa7heEkwCs1UdzFxF9dPB7BM3gl27D2aC2SJAdy49POULzJ3cc6aA3dlxT8BVVPqKKEy8I30aWPzdomhX1mkQM+vSWVxn/oOwv3ROdUmaB/HLF78El6DtED8aMnx2ue+bAmYfnmHveuhGLpit1eDlyrEpBMwO/hbmulsRoqY3PdR1pVk+mG1RbeNa3RcK98v3E4kw97tc+gUxf/NcX5dT5hA3bAGyzXZD1KyWVXVl9YaY6QMMn2D5BDC7BujmBZte6cL8ld3ZCokvuW8u2ocgZu6R/eZychrEHMPfwq4fwyDiGYZ3Xf7NSILae9YlTxXCPifc6RJ+BsJuWj7DZf8sCDu2UMFVWBvCjjDkcV3+LRGqntPVOQEi/urcdhd5DQj7BzAMuTdB3JkJtGtRKsT985LcXaLMIGq6gGnmo0gqPBxOTokDs08C2UfnQ8y/IxzlssMvCS4uvRDifgaufS4GeyBqjBiKXaq+INy/6iXE3jWyS11etULUX4r448J5BqL+8mRD10p5SNwJshq4vtgLSUsf+Hxck4Qg6dP/2zUXR694MPs+0A2XBSHu7AS6+dMaCPsjMG0cbYSo0QCmSQDNOictPAMAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEALseN9cpzviuBwPDgf9TmsIZGYCgd3G0a7WZ1RoGMDjw325VMVi8iEHJ1c0umQnEDvt2zUWmOhHM9ihb51IrCBH/4ffAZf/6YjC7Q93RVTY9GMw+OsPeNVUkB8zmPSrt+mtRFJit4mDmyhqYDWZ/9ktwVfgeAWZfnWzoai+SBGbPS3J3FTNIB7N1DsS5rtueCWbfuuzqulZs+heYO4tsJoHd+XiKoeu6qmuiMPEcmSkQf1XbuN7ugJg5ZRGX661fEPakR/NcjHZB/GLCUOxikwXxyyM/fte73SlwNxw/lgtmfwK602V/CJgd/C3MtcYsBe5+U518MHvqIznXwP5QMLtgjZpr0NZEmDkuq/gh6k/eCHaRs4S4YctcX5f32yFqZikZu36xhqh5fc7c1VApAcw+F/HHpYbjrS7MX966zWB/mS3mcj1wA2LOPeEol2PlEPYJoPkTYyB++d451cVvE0TcBxhfH7kg7B9A8WQrCDvCsMflqSiEvfLRexe5iGSoOI8rKzfEbZyt7K55ZsnQeJztsscWYU7SIog77wvfcrEPhYebS5kvNJyXv3SZwAcRlzma4/JwcTzc7887IebfAbpfNSQJFp4uZTshdvkC3Tx7SyLcjzFQ/+blTHLJ5EiE+veyy4dWiPrfJzVdE09DxJ/2KbteUoDEnSCrgavQwQwwe62sqqssTxCYnQM0p8IzHur+KJcqplQwu1P9oMvNVRA3fwS650QVxI8awHQLAIx8LEU8AwAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEADthPtcpzviuBwPDgf/m8aGMDECQaBTrmhJts4YBDA78j8wvBIv3WWu4coUlM4HYJgyfXa5UJoLZH/wSXMIYIOIzlr90+byxGMzmZzVwnVQRDGZviLV0LRfLAbNZvIJcX0+PArM/+SW4XojKBrM/A9kXP0eA2bOUjF1jxZLgap7qpsPZLFMzwezSN1auoc0zv8Dc+e9uP9idR+MsXZVu3hCFid+8MhEs7nDe3HVaPMRMuQO8rtqqEDc/ObfdxXQdxC/nhDtdNKMh4gVr1Fy3z0wBs4O+hbnancuFuyFgXwiYHQwUf2QJUVOp4+/qI5gPZi+/K+CatCcUzDb6Ley6axLE/HlJ7i5r5CHqZY/muGw2SIKLtx2DqPl7UtO13BSiZjYwHL4qJYDZgd+uuXgHvdeF+YvnZAPYXwxGPK7pzyDm3BOOchEOhbBP3gh2yaiH+OUuUPzAToj4tckbXS4LQdjm1itcKtUg7JiyepdocQi7R/2gC1cGRO8e2W8uz99C3BBpyOPq5pEM1+urD1H/o3Oqi+Z6iJr7wrdcGnxS4P76EwlREw7U+4MXIu70rdXl7aJ4SPgwFLtM7IT4/Q7QnRlQ94PE5+2D2CXmesTl0Q6ImhNAf6lvgKg5ErHa5akcRHzHDSbXs+UQ9QuS3F2fnIOIKzuYubKaQ+LuNzBsv9eEg9l5OUKud+ySoW7rcTkUC3FPL9DvXcKpYPZVYFjJHkmBu+1SKMSPHc91XAEoFl+XPAMAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEADthPtcpzviuBwPDgf97+RIZGYCgOvm4073VBmsYwODA/1DjWrB4N1D8lXoyE4g9L+m408faRDB7DpDNF5QKZi8EsnvyCsHsuUD2G69guHrLNcdYYGzl0Gyw+Hwg2441Es7uEkhCmC+XDmcnH8+Cq2l62PMF5jb9tbPBbusDuu0j51lRmHhU/Fyw+HOg+pIVCDMvSCPcH1KZCDezelEynK3clQJXc3jtVE4Ye/75KLi/lKfHwNWc3KfODmPn10P0LgCyq+YmwNXzsDzWhbktcWkP2G0mQDfXnUa4rdJwkwCMnWePcJuUIMLNSVvfcsPYhWvi4WomVSfC7frimwQXZyxB6A04pgp3p9CsZLg7o6ZB9M4CsVVz4XqtV6XD1TzqRcRjTVE8XPzkghSEH9sQ4Ta/JgGuBgC2UqedZAIAAA==" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAEWSXSjkURjG/yMi2hvlQjGU2lqSZLGIeG4oUj4WV2Nmzkw+dhiRr+nP/GftMpSPIVHIXuwNq1zu3lEkH1dqoqYQLrZQqOGOUeZ9z/9c/Xp6znue9+ns56/AlHNWoSjbodHsOoPyfpaRMF6yEebtkDfDSboPee0iIsxDUBctxJ1Y+2Ml7sFmXS/xD1Taa4lncZ3SEWbNBzXYRPoqik4dxEsw7jaSZw5CEfJu0NBC+gK2ItsiOE+UaynIOW/9k+Gcmhe5V4EE1p9Ppin/FIzdlFObxEWBkJm/qrxLF8ZyWe9D/pmd/NM4LKac2gpCD/XkmcfOho14AumJXeTRoLrYM4zf/3j+NxzFsr8NgRburRWDs+zxoPySMwwi65eZeADi5SGT96qMcRs4m2fPKjPH2Zmd2PTznHase1l3YKyUuQN41HdX463y3eNX7uo7qgrJo43A+FPvzdfAfhfOK8xyX6fQd9z3sKcXhmSb7OGLsVnyWsAiZ6aW6TlT/wrZ5+dY1rvxZNL5U71Fem6ieb6K8w8804saE/09xY2PafTHlBE0zAjZw8Ed5+9HdaGQnf+/t0m9IMkse3gDR96mwDwDAAA=" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAEWSTyiDcRjH90opxW25cVAOJC0ixOF7IZT/UXjtfd/NZjPjQGRsJmOEchLRioso5KIQRSIuLlMrIkluYkSRv7/n2Xv69O15v9/v8/Q7zpmHnHlZrNPtf/kM1ZLu9/OMQO8vXP3jH300zSn0IWTbtKh/3QbXjCJYxfKKKrgFa9VdgttRaq4SPIDbJIfgIbjC9YK9yL9o+2fPGBIP64TuhqajLA/CkkVwP3qurYJdKFuYC1PP1/MJieZT70J61oNTEmW9l1DPPvhyyb8VZj/tYsJLuca75FyaBXcgPmAX7MP2ZK3gQRysmgT3YPPNKbgTz7M17L+0Rf4yTmNpvgEhC/VpRO+0wncruqEODmQEjILboH0+ptNeD5Kb97o9UzkroYBYw+KHxrmTMulGLNqImzF+ovB8Zp7Kud6gyrlzqsJ3SxwmTwvWbyKd93aNzE6NdmzC8SD5OFH0FunzhGbm/A2Fb55hpnkF7p3Ie8uKJd2KFznCB6n0rx0VBhNnXcUpvEul7OD5lGR6Y91w+8lfReDZyD4jMUfRxPeFKs9/AwDwhU4wAwAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEADthPtcpzviuBwPDgf9thsGMDCDQ0OMk2mm3BswGindo50PEGTqczLKSmSDsXCet4kQoO9Xp94UkKDvTaV9AKZSd72STEQRltzg9ls+FsBvanGq+REDZLU7W13Ogarqc5I6EQ9n1TskMyXA1XxjToexGp4oHGVA1DU4+82Z/gbnTZXUv1J2NTne4b4vCxL9d64f6q9nppxfMnTVObZYIv6R2wvyS7vTVHyFeeysVyi5zOrEoG8pud9rdFwplNzkdXpMCdVuDk15KEjxMKvRh7CynJTtg5sc5neZKgbNvpcPUxDpVToKpKXJqcoO5ocDpi1UinJ3894MuzF9Vz+ug/mpyCnoOMyfbSdwWxk5xKl6XDLdr3xqE2yScEWrEPsLMz3AytoKJFzo1XUuC2zs7KREebnKtyXB/bXgIEy922r83AcqucGKyhfkx0cl0BcycZCf3HzC9CU6fnOLh4tYbE+Huvx6PcNv1gzD1OU6XHifC2dWxCP/OD0KIR/CkwN1zzQgmXuYUGJcLj181ZVgaK3c6lAYzP8kpVgwR/n9FkhHmn0aEyaVUGLvSCQAd8R/8PAMAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAEWRWyjDYRjGt+XKXFBOV7jhgiQtCnHxUFNIDc3NzP//35jNclxsTrPMKYdy40K4sVITcyGKtCTXoiiHol1IckFTSg5l3/t939Wvp/d73+d539PEVbTo7qtVqvBvTWGDWvX//GgMVWzFOPw7ndfF9EkU2xVNjDuQ2ycxtuDrXOb8XOdi3I0kh4GxF5FMJ2M3hqPNjCewsdMZY+8c9l6MTB+BomKzvOOIqtuZPozBBxvjUdSurUTJZ1Vwnvkcwp32NoV0TWhRTR5ee8inB5MllKUd1hmR5aOe9C48Xlt5FkvAwfzM4nChifEUZv0WVjOOoEL923BQQOxA1gP1NyHQexZH7F4ifQDSMnEvfsIyn+vJecunLJ6nUZbFB8OTzG+RVk5sRd82+TfjeEvo6ZXEMlLfJO5TVyp8+q6IO7EiU80YMvxiV6FHidfE77cydmG/0sLnFm1SHwX6T+HnHWbOZbti56V64a3/hurtuIhQjQ1DJpFl3SBxz80JNLcHR1qJ/730OXnNcbaR/z1pU/hcU6rE9/ydLO6ewG/nhOGW2I0/ll1hNDADAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAEWSSyhEcRTGL0ssLDzKQlYSSVLyiMVX3qQGsaG59854v8cwZjJddDFeE4qFsFWksVBEkmyVRIoUUbOQZGIhefufc+/q19f3P+d859yj8CXUpV0XStLBV0lqRZD0+2lzqPTlrv/xjz6W1PGvS5NIb1aD/9mGRJssuAnvJwrrRSV2wQ5EFZgEe+HObxOsY+C4RvAc7mTxVpuG3UzsgSqJXpqOl6AG9jhuGgWPINC7+EJzLp9OifmHoN1fRpJed+EV+jgeu6j+GEYyKUsnrB7K0obXctLbETizCh5ExWqLeDuP3ekqwaMY1y3C04E1VeE62ynETsTtUP16zISQX0WElzwW9M+SxwV5QebZPg/I0wtn/HMy5XL63eIuEzD5FfZH5xC3wrZBWazYXye9BZkxCt/uIyDz/Emy0avxwSwyDmKrjG4xhFhdZb/vVuaMHp+ZOaOYMjYgdFhhfnMYe2j2y6xnbxr7zyow/D2X1MuO0ztjTletwrxiIr0PNWEW5r1Q0jXkafTvdaE0oZr3c1iv8h70J5q/B+fZpHcjjO9oh+lK4ZrfztmpwTwDAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAEWRTyiDYRzHN27+lMOkXLjYgSQpGXH4XkYO6mXZhbx7N7Nphs3apuZl7Z+yxdy0nGmJ5OBPvMndn5IipRyWg0RzkJiy5/e8z+nTt9/z/f6+z3NRlcFo22OvRqMU+lsHtZr/k8DQbk+2yEoh3uQu6nIc7U6ppKgH0OgRGU/g+8rC2Int3jnG8zjoE4osx7Bf52K6DN2CmfEaau7YXXkdL53kk8BbA2UlkdfaGcfhf5rgnh++jTztubi1wvaUkal8qCZ99C7FekXwOkNZS4gayN8NW4K6TOJzgPQpnJ3Y2HwYUWWScQrHSRPjZSxHrGx+Gvlukd91mySu1x+SbsVqmZWzLkV9JRgdNONBWiGewa9i4RzUvzdTr2AuxHrFIOQsPKumW/0Lz47Es06zFv5fhlqVfz7U7ukO1UejEznf6MknBG1WfbfrI3Vn0+UY41n0C9TRhvIweTrw5af5cThzxHZ07Yl8506jOu+9l7j/zbPIc+dHaMaFTUHdwVxBuQGclJMeRGnIxfdPNg7zvufjEufI2xj3ue0i3YeKFsryQnggDuMPJtaBezwDAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAEWSXShDYRzGj935KoULbswNRcpHCcXFkxAXaogLxjlnm3x/zFdbaUszs2bWiguNO1KS2g1ZjNzMDSFWuFEULkRzJd97/+85V09Pz/m9z//9v0dJPmiLbmsEIfhdV9AQI/x9lgU0blVs/OtffyZ3gPlzKO6WVVF/CDlGkelOfJxKTPfAmTka1RYrLgY1zLfBn9HHfDu275pVxDQaGdPixmMZ41jmcRJDzCmY10jbkf0kcc7N82qEelrXXdGewjR8idep5Guv3Ky/E+E64jix1E6zDELvoFl68V5Pfh/2A3p2lgObW1qmF+FdJs48Zm06no+UE2cEA03EMUG9Q74OnjjKi/AYiCPh2EOZUXiDIu/2FZQ405T1mkdzBcKTbC4XTi8l3qG5lXQXxuwy5++eS3xfpemK/nwT+e68JeQPQUghfxJnWbQjK3baiNmPtFjKj6M11MH0BCpbaEY99gopY0BViJgy/PvK+3kLi7xzWbWS9/npLDPW48jvhblNmXFFI/J7bknQ8T6BeJHPcv8gcubGgfLvoUHmvu2F+g+jNll556F8yhuhVsn8Tn4Abt8ekzwDAAA=" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEADWRXUjTYRjF57pKg8iocERNyizZYmzYxyLZsX82tyLQRoPch7lJOIaL4UVbEjk/aA7Z3BbpKCUvxmINaxSNzK1ByKLRwFgGdVGYUBnSUAkird6nvVc/Duc553l4x+Peer3sg5LHS613DhlKeH+f4J0fnK8mymMvtX5L5WJ6MNaPQx1t/H/8YPW+osbeytjwNq34lbvIeJ/rmGKwsovxzZFmvLE1MZ6RnUR8t5WxZ8SIJ5/OM+7PDsBup0zJYhe+yCln4rIZr0uIx0K1cIaJo+YWVH8lFuTPwd1zd7m452z5MNuTSzdiPpnfVtR3VAWY3iYYxJyaZkdtRoQM1OvuLof5Bt3iXdmOlbOkbwj+VCSnzIwP2hsRm9QzXlq9Bv8dypmymuDuMzFuMO7H8nHK2fNCik4N5ViSOggTpLuyNvhKye+1cPC1U06srAIvfeQJPLsCf4pYpNZgLUWesN+Nh4c/iot39c4MsbvqvAbk8uQRq6WoVBIfSADREO2wuLcKT2dJ3+wAjgqIqydU+F2grgJ3Hf4jpDt7guB/NzIeCoeRO0M5kfdZJHTEa5c6ULHx/79EPGjJkP+qoxWclm589agZ01Ly1KIbDRnqajhxAfEk8b0tMhTmiMXfAPkp8u9M63A7Tl2cuRmRUtK1Axo4dcTzIhPGmmjWs6CHdhP1/kjJMVVGumNaic8LxEJJPaLPaZY3Xod0O+WnrLvQt0T7D3MWqLaSPs2NIiMhvygfgJBP+uPTvfgDlnlGlzwDAAA=" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAD2SW0jTYRjG50bR7CR2IIXMXaSpSJEgJdPeNySHGol5Ipt/W20XszFJlGp3mdQWDOcaVOrUdWGCDHOdJNNpYMwIJcMtK8joDBV4iFTS7Huy7+rHw/M9z/t+/3+rr/5gWcobjUzmXzLbpTDZ8vFYYjjTkdgpE8e/dC27VuhD3aWcajwp/8vPi1yUWHVCcLytmRZGdYLv3aqlK6pqwSYn8YvKfMEtwXT27TAJHvik4wfvigV3JZ3lqipk1ugM/CUNOe0yBY+Egbf27WRLOzhCHcfxX8Hz3ly2XfDMrMw5Ftkg5rRGqbj0+viWFb0156rQi2fVHMrB3Zg7k9QooTeknCO9Fbuof87R7BHoUnCR+nv16K1JZG9XGea0VLLTjZzPsZFsqzsl+Pb0Gp5JR850tYLNhch5mp7MsT3QR4qekCMc/g2XXeQwICcl4y0NO+BZVVjATj/4/bYEXvTDEzyWwe6IyeT/3+W7XewlKSdodBye3AorqTTgAu1p6mzEDK+tR+nhGHRLx13aHw1O1Sj49xS6qs/vYuc+6OUHslj+rVzwjXOvaPQwcvJ2m7hHC34sKTlKCb/Rm8PHA/D/2p7AmSXYMdXjor698ETXN9GhALou2ZvI1w/2hD2iqRB4Y8U8pWXB77ZMULMPXYOmZ9QRDr3+/gJZtGD9yyFqyf/3bqt7qWQdes+0uah3LfSGi3H84SM4T7aeOwdwd/kPokED8rOT2qjuB+bvbi/l7E3QN+uNHNgDf7Jk51g59OGbZv4DkUcZIjwDAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAD2RXUjTYRTG5yBytouaRiTDTQKDpRkWfQjZOabtwyJZiFJ+TrdCqZmjuhC6WMiajuFahOXSWReyGsMaQubSf2XWurCF00aQuUGDjBUsLUJz1Xtm79WPh+c855z3OL3dxbW7Pyh4PC6ht9al8P6+9z9jUGKTuXnscYke1RWmb9tXjnubG/n/eOWoEWSGBsaXXQ5YDmgY6wQN0JV9gfHoxzwMtqoZi1fk6JWcZax/osRHkUrG66da0GCgTN/CAH4upJxzppP4JoX4i0eC7YPEMuch3L5AvMdxGjuNdxbX5pwWXWNzTtbH4NTN2c1rurPsOtMdRVswVEa1cU6MvXXUNyR4CVoz7VI5E4al46Rn3d2E4z4tY8VDJXqGahlXlwbR3kc5zy1+7OxoIs+gGRcPUo7Ufhj1FZQzWSxH6QjpGVk3wJZGfov1BNh0lGOaEeJrG3lU8xNo54hT+R5c5cjzQ3If+zaG8/7f5auV7ZXTMwWBWU3yFsOQrSCeSHDg7qUZMpatMDpNuuV8DA5kEjf3R+F3PNlXrUL7ftILLuqQH6tn3KbOx8AxyrnUbcKRmuS/pYtxq4D8mgdFWO0n/4C2FEuqaMc2kQvGCsij3DEMR/zUC4Lz4B0nHhMtQTxEnFkehkI5+Xd2/YLbXuo11ChEVxrpnDoC7TXE96Rm6FdT7YvUCFQJqW/07Sr4NpA+9y4fP0WJja2vwP2Uanncd3imo3xR7mPo+Ebz57bkoCqddN3cLfTvIn/Tuqso5ZMuOWPBPxg/+Hw8AwAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAD2SXUiTcRTGXwdF01Ujc9Gg5W4KRl+0ktqIzlkrx6yEaSUudZp6IYTRGlS7y0Zt2vB1ow90cwiSyUvYlpK4chUkE6zBhoyYZVGBxjSHeSNl9T+z/9WPh+c8zzm8r7etXVetnjJwXGTFPliTw/191+vXoZ5XCRx7kZX7xhamu31mLGq6IPrHckyAylrLeFerFJdjdYw/yqahVWlj7B0zY+KSibFyqQtD2y8ytmxoxmefzzHmBSdarZTpSwZxRkM5mXun8V0OcVJTjvaHxILhDu6cJX6ypR1dN3oWV/eMb+pge6o/5KP5wWTBqh4o8TK9X6XGZAnNJvqc2FlDvZvtImxw0i1rj+7An6Wk13avwdFwA+Pg82P4eKCacW//LfT4KSfAR8HlqGf8pnICFo9QzpVUCprPUI7MsQyFw6Rr6vqAzyV/0cBT4Bsp56aqBcb57A4H96AnQny39y38jmS7tCPgl37a/f+7zLnZXVLfRoxNkkcTT4DSQAzlPSB0Zm/UXoOROOmxs2NwWE7cdVuMvzLU5SrWoucQ6ZWKJhSlLYwvf9di7BTljPtdOFxFrF84gFvF5DcZjuP5KPm/+Jyor6AbO4IT8GI/eVLCezgRpa6C0jkIjRKHZWrMJImHhtKgKSa/rUyMvhB1Lc0o8VEu6VPzHNqriB3r09BtotmT6W1YIaFexWwehvNIf/1Dh1+/ERsHJSi8pFmO24uvGinf1iZBx7wl+z/r0JhPukLuxug+8l+dDmChiPSFSBn+AfQBNE48AwAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAD2SXUjTYRTG5y4WLos5NcsupgStRoOoNDOk/zOWmhLFmLTI+VUbYWTGWATLEs0LbQ3XBpW2Gd6s2rDJCmZbuVUI/6IcWTL6WCgUFFiwVkShq94ze69+PDznOee87+u0Dqgat76rEQgiacvdpizB3zM3Vgq1XeETsBNJX6ntYXqyuhNlbYeF/1jyKxcKUwvjnwur8DvWyvho3TPuQomZ8ewKL152aBh3KUMIyI4z9p4bRHDuAGPT9ihMJsrMPxbHpwrKcS+zYiqL+Pn+a7B4iFvLrJB/Jo7lu9DfPZJamnNaeonNOXlegUNXZwqW9Ot1TqaLTukQr6Pa9jd9GGqivpPt22Doo13g34nv+0jvbpNjImxgPHjSglF/I+P6sx443JRTLpOhv/cI44hwiktVUs7tpzk4UU85L3o0KB7P3FXlPGcXkz94UMvZjZTDP8rGEzt5tK/1cESI/V4BFiPkCaukcEtmlf/f5YuN7dVgfsXFZsjzNvGNK6khXuwY5XxDNEOc93ChadJFp1PcjiLirrUbsJCkXvyYEY5y0s3r7BDONzMW31IhtpdyWlbfwLieWH/ZhDXZ5FdW2dDAk//OsBVqHe3YyRfgwZbMmwolqOKp1/vCTQhMEFub85CME6+Pb0RFNfmjF6VwBaiX08bhppj0M0W7YNETJwwiDGuoVh9UQpdDfT02OcLLM3rhHnz4SBzL3Q1flGoFXCkeGin/cXoler/S/D+0A6jNIz0x4gK/OfNnQvdRLCTdr76HP7sc68o8AwAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAD2RW0jTYRjG/1PooAuHp5gJugsTVkY4GEtwfI8MM8UDUmaZp7WJlZoxCmQEtTDUZLo2rGbaKsKMFaMR5fIw143rQhfGEKmLLIUEO4wJschV35t9Vz8envd53pfP1ttfUKd4XyQI3qjxWb1I+POaU59DY5E7Bf680ZvFV7ieInZDefpkzF+eOGVmckMj52O5RvYzoOWc3NLNrsnOc76tqMDb9krOYbMS7oxWzpJuPV4sHeUc3dEPg4Eyhfb7+JxHOZ7OCsyJiIeWsmAcIU5r1CJ7lVg8cQM9pnvhzT3nE6/zPS+rXai5FUzZ1B0lNq6fu9qPhRKafeXSYbCeerXZidB30y0X1kfZejnpVf6dmBrXc37T14wnrjrOovQuWIcpxzmdj55OHWdDaoSF8ymnSiPB2SOUk9wrReYY6du2zjBLHPknazzM0kQ5CXe34LWFPK3fj8PqJe7YSMeGlzy+0l0YlnzI+f8vX8z8Lo3JhkCQPPvaIkxW9I8vLjLnIO1QtrePvZwn3dSjxoE04tgcFX6FqKvt00NYVaQH7S2IWWvgfPipDoFSylF8dGCslnh3WRak28l/RtqFE37yzxTooKmmG+3fZJjMJc+yPBaFfuoqH8iAe4pY/TgXoQXiNN8syztI/lZlIobc1PVgQI7RONLfedeYsZa4w77I7lTSrFifhGox9aoOJWA8nvQfE2G2vEK86p9lzmmaFRxi+JooPzK3B51faf/4kBrFSaQ/Euzw7yd/YcMlZMaQvuKx4jfc7ptIPAMAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEADWPbUiTYRSG54LFtEi0nFmhth/CoBIrzcHkvSXmu5aYYmksN0s3IkjFJQ4WgwqDFMU5K1PaLIKazJAGlTraKik2jUbFsC8qSclZKjILtLR6Dnt+XVzcz33Osejb87W7P/ICgW/V+kEXI/j3ZB3FUByRuQTs+VYdTReY33bfguxTVcL//F37gJMZjzNOUI1xy8ETjLMDV7iW9AbG9oFKvKkrYcwv1cOdeprxN1MNHk6UMa5ObYPRSJ29ow5My6lnRFOKlzHE/I0CmG8T75qvQkaYWNd5DrWam5HonrO5HWxPUQIHzbXQpqjvVXcyr9t5FONq+ntWXYoeHc19NiuG/hLdovgpxmIRecm99fB69Ixrvx7C3QEt4/DiZdjs1HOn9SCam6oZJy9JEFFQz8mcJNQeph5v/x6kDZJ/Z5zjrLGUz5kc4qwG6tm+8osLWClTLG2AzUccapdjxUcZzyse9vgvO6J3dc22sbtaP0kRDFEmr3GKS+eJs5aDnKuHduBTnNzwa/Kd02uRm0IsOr8VfxZolumtAbZ95J+qTBD+qGSsVRYiWEg9F7u7MVhBbOPl2Cym/HNVDY75Ke88o8f+crqxa16IR1mUMdeJoPTTrPjGDXB7ifV7k7AwTtxSJIa8gPLvbyXiuptmWfKlcMaS/2zbCHMF8czob85RQn8DFgnK19HckUgcPHHkhTOZmJwifpGcANdj+ts3tAVPDNSvzFuDpjnavz5chgOJ5Cf6O+DPpHyG+CrShOTHhpvxF1839i08AwAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>